body {
    margin: 0;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
}

#image-container {
    display: flex;
    flex-direction: column; /* Coloca os elementos em uma coluna */
    align-items: center; /* Centraliza os elementos horizontalmente */
    gap: 20px; /* Espaçamento entre as imagens e o texto "VS" */
    margin-top: 20px;
}

body img {
    height: 200px; /* Ajuste para que as imagens fiquem menores */
    max-width: 100%;
}

#btn {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#vs {
    font-size: 50px; /* Ajuste para que o "VS" fique bem visível */
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px 4px black;
}

/* Regras específicas para telas menores */
@media (max-width: 768px) {
    #vs {
        font-size: 40px; /* Ajuste para telas menores */
    }

    body img {
        height: 150px; /* Ajuste para imagens menores em telas pequenas */
    }
}
